{% include('./header.twig') %}
{% if title == 'Produkte' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form action="" method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-2">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="productName" class="form-label">Produkt</label>
                    <input type="text" class="form-control" name="productName[]" id="productName"
                           placeholder="optional">
                </div>
                <div class="col-6 col-lg-3">
                    <label for="productType" class="form-label">Produktart*</label>
                    <select class="form-control" name="productType[]" id="productType" required>
                        <option value="food">Lebensmittel</option>
                        <option value="hygiene">Hygieneartikel</option>
                        <option value="sweets">Süßkram</option>
                    </select>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="quantity" class="form-label">Menge*</label>
                    <input type="text" class="form-control" name="quantity[]" id="quantity" required>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Produkt</th>
                    <th>Produktart</th>
                    <th>Menge</th>
                    <th>Preis</th>
                    <th>Gesamtpreis</th>
                </tr>
                </thead>
                <tbody>
                {% for productCost in productCosts %}
                    <tr>
                        <td>{{ productCost.getDate }}</td>
                        <td>{{ productCost.getProductName }}</td>
                        <td>{{ productCost.getProductType }}</td>
                        <td>{{ productCost.getQuantity }}</td>
                        <td>{{ productCost.getPrice|number_format }} €</td>
                        <td>{{ productCost.getTotal|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif title == 'Versicherungen' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form action="" method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-3">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="billingType" class="form-label">Zahlweise*</label>
                    <select class="form-control" name="billingType[]" id="billingType" required>
                        <option value="monthly">Monatlich</option>
                        <option value="yearly">Jährlich</option>
                    </select>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="insuranceType" class="form-label">Versicherung*</label>
                    <input type="text" class="form-control" name="insuranceType[]" id="insuranceType" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Zahlweise</th>
                    <th scope="col">Versicherung</th>
                    <th scope="col">Kosten</th>
                </tr>
                </thead>
                <tbody>
                {% for insuranceCost in insuranceCosts %}
                    <tr>
                        <td>{{ insuranceCost.date }}</td>
                        <td>{{ insuranceCost.billingType }}</td>
                        <td>{{ insuranceCost.insuranceType }}</td>
                        <td>{{ insuranceCost.price|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif title == 'Wohnung' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-2">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="costName" class="form-label">Name der Kosten</label>
                    <input type="text" class="form-control" name="costName[]" id="costName" placeholder="optional">
                </div>
                <div class="col-6 col-lg-3">
                    <label for="costType" class="form-label">Art der Kosten*</label>
                    <select class="form-control" name="costType[]" id="costType" required>
                        <option value="rent">Miete</option>
                        <option value="furniture">Einrichtung</option>
                        <option value="otherCosts">Sonstige Kosten</option>
                    </select>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="quantity" class="form-label">Menge*</label>
                    <input type="text" class="form-control" name="quantity[]" id="quantity" required>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Name</th>
                    <th scope="col">Art der Kosten</th>
                    <th scope="col">Menge</th>
                    <th scope="col">Kosten</th>
                    <th scope="col">Gesamtpreis</th>
                </tr>
                </thead>
                <tbody>
                {% for apartmentCost in apartmentCosts %}
                    <tr>
                        <td>{{ apartmentCost.date }}</td>
                        <td>{{ apartmentCost.costName }}</td>
                        <td>{{ apartmentCost.costType }}</td>
                        <td>{{ apartmentCost.quantity }}</td>
                        <td>{{ apartmentCost.price|number_format }} €</td>
                        <td>{{ apartmentCost.total|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif title == 'Auto' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form action="" method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-2">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="costName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="costName[]" id="costName" placeholder="Optional">
                </div>
                <div class="col-6 col-lg-3">
                    <label for="costType" class="form-label">Art der Kosten*</label>
                    <select class="form-control" name="costType[]" id="costType" required>
                        <option value="fuel">Benzin</option>
                        <option value="repairs">Reparaturen</option>
                        <option value="otherCosts">Sonstiges</option>
                    </select>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="quantity" class="form-label">Menge*</label>
                    <input type="text" class="form-control" name="quantity[]" id="quantity" required>
                </div>
                <div class="col-6 col-lg-2">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Name</th>
                    <th scope="col">Art der Kosten</th>
                    <th scope="col">Menge</th>
                    <th scope="col">Kosten</th>
                    <th scope="col">Gesamtpreis</th>
                </tr>
                </thead>
                <tbody>
                {% for carCost in carCosts %}
                    <tr>
                        <td>{{ carCost.date }}</td>
                        <td>{{ carCost.costName }}</td>
                        <td>{{ carCost.costType }}</td>
                        <td>{{ carCost.quantity }}</td>
                        <td>{{ carCost.price|number_format }} €</td>
                        <td>{{ carCost.total|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif title == 'Dienstleistungen' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form action="" method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-3">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="serviceName" class="form-label">Name Dienstleistung*</label>
                    <input type="text" class="form-control" name="serviceName[]" id="serviceName" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="serviceType" class="form-label">Art der Dienstleistung</label>
                    <input type="text" class="form-control" name="serviceType[]" id="serviceType"
                           placeholder="optional">
                </div>
                <div class="col-6 col-lg-3">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Name Dienstleistung</th>
                    <th scope="col">Art der Dienstleistung</th>
                    <th scope="col">Kosten</th>
                </tr>
                </thead>
                <tbody>
                {% for serviceCost in serviceCosts %}
                    <tr>
                        <td>{{ serviceCost.date }}</td>
                        <td>{{ serviceCost.serviceName }}</td>
                        <td>{{ serviceCost.serviceType }}</td>
                        <td>{{ serviceCost.price|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif title == 'Sonstige Kosten' %}
    <br>
    <div class="container bg-dark text-light rounded">
        <br>
        <h1> {{ title }}</h1>
        <br>
        <form action="" method="post">
            <div class="row" id="insertDbForm">
                <div class="col-6 col-lg-3">
                    <label for="date" class="form-label">Datum*</label>
                    <input type="date" class="form-control" name="date[]" id="date" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="costName" class="form-label">Name*</label>
                    <input type="text" class="form-control" name="costName[]" id="costName" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="quantity" class="form-label">Menge*</label>
                    <input type="text" class="form-control" name="quantity[]" id="quantity" required>
                </div>
                <div class="col-6 col-lg-3">
                    <label for="price" class="form-label">Kosten*</label>
                    <input type="number" step="0.01" class="form-control" name="price[]" id="price" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link col-6 col-lg-2" id="addRow">Reihe hinzufügen</button>
            <br>
            <br>
            <a href="index.php">
                <button type="button" class="btn bg-primary text-light ">Zurück</button>
            </a>
            <button type="submit" class="btn bg-green text-light float-end">Absenden</button>
        </form>
        <br>
    </div>
    <div class="container bg-dark rounded mt-2 pb-2">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Name</th>
                    <th scope="col">Menge</th>
                    <th scope="col">Kosten</th>
                    <th scope="col">Gesamtpreis</th>
                </tr>
                </thead>
                <tbody>
                {% for otherCost in otherCosts %}
                    <tr>
                        <td>{{ otherCost.date }}</td>
                        <td>{{ otherCost.costName }}</td>
                        <td>{{ otherCost.quantity }}</td>
                        <td>{{ otherCost.price|number_format }} €</td>
                        <td>{{ otherCost.total|number_format }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
<script>
    //Add Row to Form
    $(document).ready(function () {
        $("#addRow").click(function () {
            $('#insertDbForm').clone(true).insertAfter('#insertDbForm');
            return false;
        });
    });
</script>
{% include('./footer.twig') %}
