{% if title == 'Produkte' %}
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Datum</th>
        <th scope="col">Produktname</th>
        <th scope="col">Anzahl</th>
        <th scope="col">Preis pro Stück</th>
        <th scope="col">Produktart</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.date }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.pricePerUnit }}</td>
        <td>{{ product.productType }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}